
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #002147;
  padding: 2px 4px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.PROEXT {
   height: 92px;
   width: auto;
}

.logo {
  height: 60px;
  width: auto;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}


.nav-links a:hover {
  opacity: 0.7;
}


.rural_p1 img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.9;
}

.bloco-extensao {
    background-color: #aeb5bb71;  /* azul da Rural bem suave (transparente) */
    padding: 40px;
    border-radius: 16px;
    width: 98%;
    margin: 40px auto;
    box-shadow: 0 6px 18px rgba(6, 2, 53, 0.582);
}


.pavilhao {
  width: 100vw;      /* faz a imagem ocupar toda a tela */
  height: auto;
  display: block;
}


.texto_centro {
    position: absolute;
    top: 50%;                    /* centro da imagem */
    left: 50%;
    transform: translate(-50%, -50%);  /* centralização real */

    color: white;
    text-align: center;
    text-shadow: 3px 3px 10px black;
    font-family: 'Playfair Display';
}

.texto_centro .titulo {
    font-size: 70px;            /* texto de cima */
    font-weight: bold;
}

.texto_centro .subtitulo {
    font-size: 40px;           /* texto de baixo */
    margin-top: 10px;          /* distância entre as frases */
}



.carousel-container {
  flex: 0 0 280px;
  position: relative;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}


.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 10px;
  scroll-snap-type: x mandatory;
}


.carousel .card {
  height: 350px;
  min-width: 360px;
  max-width: 360px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
}

.container {
    position: relative;   /* permite colocar elementos absolutos dentro */
    display: inline-block;
}


.texto {
    position: absolute;
    top: 20px;    
    left: 20px;    
    color: white;
    font-size: 35px;
    font-family: 'Playfair Display';
    text-shadow: 2px 2px 8px black; 
}

#extensoes h1 {
  color: #cce5ff;
  font-size: 36px; 
  text-align: center;

  background-color: #002147;   /* cor de fundo do bloco */
  padding: 20px 40px;           /* espaço interno do bloco */
  border-radius: 25px;          /* cantos arredondados */
  margin: 20px auto;            /* centraliza horizontalmente */
  display: block;               /* faz o bloco ocupar largura automática do container */
  max-width: 20%;               /* opcional: limita a largura do bloco */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* sombra suave */
}




.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;

}



.carousel .card {
    padding: 20px;
    border-left: 6px solid #002147;
    border-radius: 8px;
    background: #fff;
    width: 300px;
}


.cards_container {
    display: flex;
    justify-content: space-between; /* distribui igualmente os cards */
    gap: 20px;                      /* espaço entre eles */
    padding: 20px;                  /* espaço interno do bloco */
    margin-top: 20px;
    align-items: stretch;           /* deixa os cards com a mesma altura */
}


.card0 {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
}


footer {
  background: #002147;
  color: white;
  text-align: center;
  padding: 15px 0;
  bottom: 0;
  left: 0;
  width: 100%;
}