* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #002147;
  padding: 2px 4px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  opacity: 0.7;
}

.PROEXT {
   height: 92px;
   width: auto;
}

.logo {
  height: 60px;
  width: auto;
}

.container {
    position: relative;
    display: inline-block;
}

.pavilhao {
  width: 1303px;   
  height: auto;
  display: block;
}

.texto_centro {
    position: absolute;
    top: 50%;                 
    left: 50%;
    transform: translate(-50%, -50%); 

    color: white;
    text-align: center;
    text-shadow: 3px 3px 10px black;
    font-family: 'Playfair Display';
}

.texto_centro .titulo {
    font-size: 70px;            
    font-weight: bold;
}

.texto_centro .subtitulo {
    font-size: 40px;         
    margin-top: 10px;          
}

.bloco-extensao {
    background-color: #aeb5bb71; 
    padding: 40px;
    border-radius: 16px;
    width: 98%;
    margin: 40px auto;
    box-shadow: 0 6px 18px rgba(6, 2, 53, 0.582);
}

.cards_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;                    
    padding: 20px;                 
    margin-top: 20px;
    align-items: stretch;        
}

.card0 {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.extensoes h2 {
  color: #cce5ff;
  font-size: 36px; 
  text-align: center;

  background-color: #002147; 
  padding: 20px 40px;          
  border-radius: 25px;         
  margin: 20px auto;           
  display: block;               
  max-width: 20%;              
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 10px;
  scroll-snap-type: x mandatory;
}

.carousel .card {
  height: 350px;
  min-width: 360px;
  max-width: 360px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
}

.texto {
    position: absolute;
    top: 20px;    
    left: 20px;    
    color: white;
    font-size: 35px;
    font-family: 'Playfair Display';
    text-shadow: 2px 2px 8px black; 
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;

}

.card {
    padding: 20px;
    border-left: 6px solid #002147;
    border-radius: 8px;
    background: #fff;
    width: 300px;
}

footer {
  background: #002147;
  color: white;
  text-align: center;
  padding: 15px 0;
  bottom: 0;
  left: 0;
  width: 100%;
}